@page "/Home/{Token}"
@rendermode InteractiveServer
@inject IJSRuntime JsRuntime
@inject MyCustomAuthStateProvider MyAuthProvider
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@inject VotingService votingService

<h1>Friends Of Award</h1>

<div class="legend-box">
	<p>Geben Sie uns Ihre persönlichen countFavoritenn bekannt!</p>
	<p>
		Einfacher Klick = Favorit (max. 5)<br />
		Doppelklick = Topfavorit (max. 1)
	</p>
	<p class="small-note">Diese Abstimmung ist anonym und auf ein Gerät beschränkt.</p>
</div>

@if (votingService.VotingType != "Publikumsvoting")
{
	enableVoting = false;
	info = "";
	fehlerMeldung = $"Gerade läuft das {votingService.VotingType}";
}

<div class="buttonGrid">
	@foreach(int index in Enumerable.Range(0, selectableButtons.Count))
	{
		var selectableButton = selectableButtons[index];
		<button disabled="@(enableVoting ? false : true)" @ondblclick="() => HandleDblClick(index)" @onclick="() => HandleClick(index)" 
		class="@(selectableButton.Item2 == 1 ? "favorit" : selectableButton.Item2 == 2 ? "topfavorit" : "")">
		@(index+1)</button>
	}
</div>
<div class="message">@info</div>
<div class="message" style="color: @(hasVoted ? "green" : "red"); font-size: 2vh;">@fehlerMeldung</div>
<p><button class="submitBtn" disabled="@(submitBtn == false ? true : false)" @onclick="SubmitVote">Bewertung absenden</button></p>


@code {
	[Parameter]
	public string Token { get; set; } = "";

	List<(string, int)> selectableButtons = new();

	private int countFavoriten = new();
	private List<int> favoritenList = new();
	private int countTopFavorit = 0;
	private int topFavorit = -1;

	private string info = "Offen 5 Favoriten, 1 Topfavorit";
	private string fehlerMeldung = "";

	private bool enableVoting = false;
	private bool votingActive = false;
	private bool submitBtn = false;
	private bool hasVoted = false;

	public class ResultEntry
	{
		public ResultEntry(List<int> favoriten, int topfavorit)
		{
			Favoriten = favoriten;
			Topfavorit = topfavorit;
		}

		public List<int> Favoriten { get; set; }
		public int? Topfavorit { get; set; }
	}

	private List<ResultEntry> resultEntry = new();

	protected override async Task OnInitializedAsync()
	{
		int buttons = DatenbankLib.Project.GetProjectCount();

		for (int i = 0; i < buttons; i++)
		{
			selectableButtons.Add(($"selectedButton{i + 1}", 0));
		}

		EnableVoting();
	}

	private void EnableVoting()
	{
		if (QrToken.CheckTokenExits(Token) == false)
		{
			info = "";
			fehlerMeldung = "Token existiert nicht";
			enableVoting = false;
		}
		else if (QrToken.CheckTokenUsed(Token) == true)
		{
			info = "";
			fehlerMeldung = "Token schon verwendet ";
			enableVoting = false;
		}
		else enableVoting = true;

		submitBtn = false;
	}

	private void DisableVoting()
	{
		enableVoting = false;
		submitBtn = false;
	}

	private void HandleClick(int btnIndex)
	{
		var button = selectableButtons[btnIndex];
		int newValue = button.Item2;

		switch (button.Item2)
		{
			case 0:
				if (countFavoriten < 5)
				{
					newValue = 1;
					countFavoriten++;
					favoritenList.Add(btnIndex + 1);
				} else
				{
					fehlerMeldung = "Maximal 5 Favoriten sind erlaubt.";
				}
				break;

			case 1:
				newValue = 0;
				countFavoriten--;
				favoritenList.Remove(btnIndex + 1);
				fehlerMeldung = "";
				break;

			case 2:
				newValue = 0;
				countTopFavorit--;
				topFavorit = -1;
				fehlerMeldung = "";
				break;
		}

		info = UpdateInfo();
		selectableButtons[btnIndex] = (button.Item1, newValue);
	}



	private void HandleDblClick(int btnIndex)
	{
		var button = selectableButtons[btnIndex];
		int newValue = button.Item2;

		if (countTopFavorit == 0)
		{
			if (button.Item2 == 0)
			{
				newValue = 2;
				countTopFavorit = 1;
				topFavorit = btnIndex + 1;
				fehlerMeldung = "";
			}
			else if (button.Item2 == 1)
			{
				newValue = 2;
				countTopFavorit = 1;
				topFavorit = btnIndex + 1;
				countFavoriten--;
				favoritenList.Remove(btnIndex + 1);
				fehlerMeldung = "";
			}
		}
		else if (button.Item2 == 2)
		{
			newValue = 0;
			countTopFavorit = 0;
			topFavorit = 0;
			fehlerMeldung = "";
		}

		info = UpdateInfo();
		selectableButtons[btnIndex] = (button.Item1, newValue);
	}


	private string UpdateInfo()
	{
		int maxFavs = 5;
		int remainingFavs = maxFavs - countFavoriten;
		int remainingTop = 1 - countTopFavorit;

		string infoText = $"Offen: {remainingFavs} Favoriten, {remainingTop} Topfavorit";

		if (remainingFavs == 0 && remainingTop == 0) submitBtn = true;
		else submitBtn = false;

		return infoText;
	}

	private void SubmitVote()
	{
		if (submitBtn == false) return;
		resultEntry.Add(new(favoritenList, topFavorit));
		hasVoted = true;
		DisableVoting();
		info = "";
		fehlerMeldung = "Danke für Ihre Bewertung!";
		RenderSummary(resultEntry);
	}


	private void RenderSummary(List<ResultEntry> resEntry)
	{
		int[] favoriten = favoritenList.Select(c => c).ToArray();
		Rating currRating = new(Token, topFavorit, favoriten[0], favoriten[1], favoriten[2], favoriten[3], favoriten[4]);
		Console.WriteLine(currRating);
		Rating.AddRanking(currRating);
		Console.WriteLine(Token);
		QrToken.UpdateToken(Token);
	}
}