@page "/Home/{Token}"
@rendermode InteractiveServer
@inject IJSRuntime JsRuntime
@inject MyCustomAuthStateProvider MyAuthProvider
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider

<h1>Friends Of Award</h1>

<div class="legend-box">
	<p>Geben Sie uns Ihre persönlichen countFavoritenn bekannt!</p>
	<p>
		Einfacher Klick = Favorit (max. 5)<br />
		Doppelklick = Topfavorit (max. 1)
	</p>
	<p class="small-note">Diese Abstimmung ist anonym und auf ein Gerät beschränkt.</p>
</div>

<div class="buttonGrid">
	@foreach(int index in Enumerable.Range(0, selectableButtons.Count))
	{
		var selectableButton = selectableButtons[index];
		<button disabled="@(enableVoting ? false : true)" @ondblclick="() => HandleDblClick(index)" @onclick="() => HandleClick(index)" 
		class="@(selectableButton.Item2 == 1 ? "favorit" : selectableButton.Item2 == 2 ? "topfavorit" : "")">
		@(index+1)</button>
	}
</div>
<div class="message">@info</div>
<div class="message" style="color: @(hasVoted ? "green" : "red"); font-size: 2vh;">@fehlerMeldung</div>
<p><button class="submitBtn" disabled="@(submitBtn == false ? true : false)" @onclick="SubmitVote">Bewertung absenden</button></p>

<div class="adminToggle" @onclick="@(() => { adminLogin = !adminLogin; })">🏠</div>
<div class="adminPanel" style="display: @(adminLogin ? "block" : "none");">
	<h2>Admin Panel</h2>
	<div>
		<input type="password" @bind="enteredPassword" />
        <button @onclick="CheckAdmin">Login</button>
        <button @onclick="LogoutAdmin">Logout</button>
	</div>
	<label style="color: red;">@loginMsg</label>
	<div id="adminControls" style="display: @(isAdmin ? "block" : "none");">
		<button @onclick="StartVoting">Abstimmung starten</button>
		<button @onclick="StopVoting">Abstimmung stoppen</button>
		<button @onclick="ResetVotes">Alle Bewertungen löschen</button>
		<button @onclick="ClearLocalVote">Neue Abstimmung auf diesem Gerät erlauben</button>
		<button @onclick="ChangePassword">Passwort ändern</button>
		<button @onclick="ExportExcel">Excel exportieren</button>
		<div id="adminStatus" style="margin-top:10px; color:blue;">@adminMsg</div>
		<table id="summaryTable">
			<thead>
				<tr>
					<th>Arbeit</th>
					<th>Anzahl Nennung Favorit</th>
					<th>Anzahl Nennung Topfavorit</th>
					<th>Punkte</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>


@code {
	[Parameter]
	public string Token { get; set; } = "";

	List<(string, int)> selectableButtons = new();

	private int countFavoriten = new();
	private List<int> favoritenList = new();
	private int countTopFavorit = 0;
	private int topFavorit = -1;

	private string info = "Offen 5 Favoriten, 1 Topfavorit";
	private string fehlerMeldung = "";

	private string adminPassword = "Ayri";
	private string enteredPassword = "";
	private bool adminLogin = false;
	private bool isAdmin = false;
	private string loginMsg = "";
	private string adminMsg = "";

	private bool enableVoting = false;
	private bool votingActive = false;
	private bool submitBtn = false;
	private bool hasVoted = false;

	public class ResultEntry
	{
		public ResultEntry(List<int> favoriten, int topfavorit)
		{
			Favoriten = favoriten;
			Topfavorit = topfavorit;
		}

		public List<int> Favoriten { get; set; }
		public int? Topfavorit { get; set; }
	}

	private List<ResultEntry> resultEntry = new();

	protected override async Task OnInitializedAsync()
	{
		for (int i = 0; i < 20; i++)
		{
			selectableButtons.Add(($"selectedButton{i + 1}", 0));
		}

		EnableVoting();
	}

	private void EnableVoting()
	{
		if (QrToken.CheckTokenExits(Token) == false)
		{
			info = "";
			fehlerMeldung = "Token existiert nicht";
			enableVoting = false;
		}
		else if (QrToken.CheckTokenUsed(Token) == true)
		{
			info = "";
			fehlerMeldung = "Token schon verwendet ";
			enableVoting = false;
		}
		else enableVoting = true;
		
		submitBtn = false;
	}

	private void DisableVoting()
	{
		enableVoting = false;
		submitBtn = false;
	}

	private void HandleClick(int btnIndex)
	{
		var button = selectableButtons[btnIndex];
		int newValue = 0;
		if (countFavoriten <= 4)
		{
			if (button.Item2 == 0)
			{
				newValue++;
				countFavoriten++;
				favoritenList.Add(btnIndex+1);
			}
		}

		if (button.Item2 == 1)
		{
			newValue = 0;
			countFavoriten--;
			favoritenList.Remove(btnIndex + 1);
		}
		if (button.Item2 == 2)
		{
			newValue = 0;
			countTopFavorit--;
			topFavorit = -1;
		}

		info = UpdateInfo();

		selectableButtons[btnIndex] = (button.Item1, newValue);
	}

	private void HandleDblClick(int btnIndex)
	{
		var button = selectableButtons[btnIndex];
		int newValue = 0;
		if (countTopFavorit == 0)
		{
			if (button.Item2 == 0)
			{
				newValue = 2;
				countTopFavorit++;
				topFavorit = btnIndex + 1;
			}
			else if (button.Item2 == 1)
			{
				newValue = 2;
				countFavoriten--;
				favoritenList.Remove(btnIndex + 1);
				countTopFavorit++;
				topFavorit = btnIndex+1;
			}
		}
		if (button.Item2 == 2)
		{
			newValue = 0;
			countTopFavorit--;
			topFavorit = -1;
		}

		info = UpdateInfo();


		selectableButtons[btnIndex] = (button.Item1, newValue);
	}

	private string UpdateInfo()
	{
		int maxFavs = 5;
		int remainingFavs = maxFavs - countFavoriten;
		int remainingTop = 1 - countTopFavorit;

		string infoText = $"Offen: {remainingFavs} Favoriten, {remainingTop} Topfavorit";

		if (remainingFavs == 0 && remainingTop == 0) submitBtn = true;
		else submitBtn = false;
		fehlerMeldung = remainingFavs == 0 ? "Maximal 5 Favoriten sind erlaubt." : "";

		return infoText;
	}

	private void SubmitVote()
	{
		if (submitBtn == false) return;
		resultEntry.Add(new(favoritenList, topFavorit));
		hasVoted = true;
		DisableVoting();
		info = "";
		fehlerMeldung = "Danke für Ihre Bewertung!";
		RenderSummary(resultEntry);
	}

	private void CheckAdmin()
	{
		if (enteredPassword == adminPassword) 
		{
			isAdmin = true;
			loginMsg = "";
		}
		else 
		{
			isAdmin = false;
			loginMsg = "Falsches Passwort.";
		}
	}

	private void LogoutAdmin()	
	{
		isAdmin = false;
	}

	private void StartVoting()
	{
		votingActive = true;
		adminMsg = "Abstimmung wurde gestartet.";
	}

	private void StopVoting()
	{
		votingActive = false;
		adminMsg = "Abstimmung wurde gestoppt.";
	}

	private void ClearLocalVote()
	{
		hasVoted = false;
		EnableVoting();
		adminMsg = "Dieses Gerät darf erneut abstimmen.";

	}

	private async Task ResetVotes()
	{
		bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Alle Bewertungen löschen?");
		if (confirmed)
		{
			resultEntry = new();
			RenderSummary(resultEntry);
			adminMsg = "Alle Bewertungen wurden gelöscht.";
		}
	}

	private async Task ChangePassword()
	{
		string? input = await JsRuntime.InvokeAsync<string>(
			"showPrompt",
			"Bitte gib einen Text ein:",
			""
		);

		if (input != null)
		{
			adminPassword = input;
			adminMsg = "Passwort wurde geändert.";
		}
		else
		{
			adminMsg = "Passwortänderung abgebrochen.";
		}
	}

	private void ExportExcel() { }

	private void RenderSummary(List<ResultEntry> resEntry)
	{
		int[] favoriten = favoritenList.Select(c => c).ToArray();
		Rating currRating = new(0, topFavorit, favoriten[0], favoriten[1], favoriten[2], favoriten[3], favoriten[4]);
		Console.WriteLine(currRating);
		Rating.AddRanking(currRating);
		Console.WriteLine(Token);
		QrToken.UpdateToken(Token);
	}
}